.root {
  position: relative;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  outline: none;
  border-radius: 15px;
  width: 300px;
  font-size: 16px;
}

.imgclose {
  top: 12px;
  right: 15px;
  height: 23px;
  width: 18px;
  position: absolute;
  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 0.8;
  }
}
